*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.landing_wrapper {
    margin: 0px auto;
    width: 900px;
    padding: 20px 20px 3px 20px;
    background-image: url("landing_background.jpg");
    color: darkred;
}
.site_info {
    text-align: center;
}
.site_description {
    margin-top: 20px;
}
.landing_div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.client-login {
    display: inline;
    text-align: center;
}
.coder-login {
    display: inline;
    text-align: center;
}
.login_fieldset {
    width:400px;
    padding: 10px;
}
.login-title {
    margin-bottom: 20px;
}
.login_email {
    margin-left: 30px;
}
.login_button {
    width: 50px;
    height: 25px;
    margin-left: 190px;
    margin-top: 20px;
}
.new_user {
    width: 400px;
}
.landing_link {
    color: darkred;
}